<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>display: table</title>
    <link rel="stylesheet" href="css/normalize.css">
    <style>
        * {
            box-sizing: border-box;
        }
        .table {
            display: table-cell;
            /*border: 1px solid blue;*/
        }
    </style>
</head>
<body>

    <div class="table">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum est incidunt libero magnam sapiente sequi sint? A aspernatur at aut dignissimos dolor eaque eos eveniet impedit libero magnam maxime minima minus nam natus nemo obcaecati omnis perferendis possimus quibusdam, quidem quod recusandae reiciendis sed similique suscipit tenetur vero voluptatem.
    </div>
    <table>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eligendi esse eum laudantium maiores sed, vero! Cumque debitis dignissimos eos exercitationem hic iste magnam minus necessitatibus perspiciatis repellat. Corporis earum enim error labore, laborum laudantium, magnam minus nemo officia repudiandae sit suscipit tempora? Culpa ducimus earum est facilis, illo incidunt ipsum iste magnam nesciunt nobis praesentium rem, reprehenderit sint soluta tenetur velit voluptatum? Accusamus aliquid asperiores assumenda culpa cum delectus doloribus eligendi enim, facere facilis inventore nesciunt non officia, optio praesentium qui repellat reprehenderit totam unde voluptates. Aperiam architecto ea, enim hic, impedit in maxime optio placeat quaerat repudiandae, sed?
    </table>

</body>
</html>